##ignore all csv files
*.csv

##ignore all the audio files
audio/
##ignore all the frames
frames/
##ignore all the spectrograms
spectrograms/
*.mp4
*.mp4.*

*.ini
*/tempCodeRunnerFile.py
*.pyc
__pycache__/
*.ipynb_checkpoints
*.zip
*.tar.gz
*.pth
*.ipynb