##ignore all csv files
*.csv

##ignore all the audio files
audio/
##ignore all the frames
frames/
##ignore all the spectrograms
spectrograms/

*.ini
*/tempCodeRunnerFile.py
*.pyc
__pycache__/
*.ipynb_checkpoints
*.zip
*.tar.gz
latest_model.pth
inference_process.py

frontend/node_modules/
backend/uploads/